.sidebar-links {
  .navlink.active {
    color: var(--color-btn);
    box-shadow: 1px 3px 1px var(--color-bg);

    img {
      filter: invert(63%) sepia(97%) saturate(4047%) hue-rotate(5deg)
        brightness(100%) contrast(100%);
    }
  }
}
