.sidebar-links {
  .navlink.active {
    color: var(--color-btn);
    box-shadow: 1px 2px 1px rgba(192, 191, 191, 0.413);

    img {
      filter: invert(63%) sepia(97%) saturate(4047%) hue-rotate(5deg)
        brightness(100%) contrast(100%);
    }
  }
}
