.switch-notfi {
  .toggel-btn {
    background-color: var(--color-dark-light);
    border-radius: 99px;
    width: 50px;
    height: 28px;
    transition: background-color 0.1s, border-color 0.2s ease;
    cursor: pointer;
    position: relative;

    .thumb {
      background-color: var(--color-bg-white);
      height: 20px;
      width: 20px;
      border-radius: 99px;
      transform: translateX(0);
      transition: left 0.1s ease;
      position: absolute;
      left: 3px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  //   when active/selected
  .toggel-btn.selected {
    background-color: var(--color-btn);
    .thumb {
      left: calc(50px - 25px);
    }
  }
}
