body {
  --color-bg: #fff4ef;
  --color-bg-white: #ffffff;
  --color-primary: #ffc6af;
  --color-btn: #fcc378;
  --color-bg-light: #fff4ef;
  --color-dim: #a4a7a61e;
  --color-heading: #f16a77;
  --color-dark: #282828;
  --color-dark-light: rgba(40, 40, 40, 0.2);
  --color-border: #F7F7F7;
  --color-black-theme: #000000;


  --text-light: #838383;
  --text-sec: #02d86d;
  --sec-bg: #02d86d1a;
  --color-uniq: #86ffcf;
}
