body {
  --color-primary: #ffc6af;
  --color-bg-white: #fff;
  --color-bg: #fff4ef;
  --color-btn: #fcc378;
  --color-dim: #a4a7a61e;
  --color-heading: #f16a77;
  --color-dark: #282828;
  --color-dark-light: rgba(40, 40, 40, 0.3);

  --color-border: #f7f7f7;

  --text-light: #838383;
  --text-sec: #02d86d;
  
  --color-sec-light: #86ffcf;
  --sec-bg: #02d86d1a;
  --color-drop-shadow: #a4a7a678;
}
