body {
  --color-background: #ffffff;
  --color-primary: #ffc6af;
  --color-btn: #fcc378;
  --color-bg-light: #fff4ef;
  --color-bg: #ffe8df;
  --color-heading: #f16a77;
  --color-dark: #282828;
  --color-dark-light: #2828284d;
  --color-black-theme: #000000;
}
