// font-family Avenir LT std
@font-face {
  font-family: "Avenir Light";
  src: url(/src/assets/fonts/avenirLight.otf) format("opentype");
}

@font-face {
  font-family: "Avenir Medium";
  src: url(/src/assets/fonts/avenirMideum.otf) format("opentype");
}

@font-face {
  font-family: "Avenir Black";
  src: url(/src/assets/fonts/avenirBlack.otf) format("opentype");
}

// font-family  Manrope
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
