* {
  font-family: "Manrope";
}

body {
  h1 {
    font-size: 44px;
    font-family: "Manrope";
  }

  h2 {
    font-size: 34px;
    font-family: "Manrope";
  }

  h3 {
    font-size: 30px;
    font-family: "Manrope";
  }

  h4 {
    font-size: 24px;
    font-family: "Manrope";
  }
  h5 {
    font-size: 22px;
    font-family: "Manrope";
  }

  h6 {
    font-size: 20px;
    font-family: "Manrope";
  }

  p {
    font-size: 18px;
    font-family: "Manrope";
  }

  .text-large {
    font-size: 16px;
  }

  .text-small {
    font-size: 14px;
  }

  .text-xs {
    font-size: 12px;
  }
  .font-secondary {
    font-family: "Avenir Light";
  }
  .font-secondary-m {
    font-family: "Avenir Medium";
  }
  .font-secondary-b {
    font-family: "Avenir Black";
  }
}

.myrounded {
  border-radius: 8px;
}
